.markdown {
	@apply leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
	@apply my-6 text-lg;
}

.markdown h2 {
	@apply font-heading text-3xl md:text-4xl mt-10 -mb-2 leading-snug;
}

.markdown h3 {
	@apply font-heading text-2xl tracking-wide mt-10 -mb-2 leading-snug;
}

.markdown a {
	@apply font-bold underline decoration-2 decoration-pink-400 hover:text-slate-500 transition-colors;
}

.markdown em {
	@apply text-slate-600 dark:text-slate-400;
}

.markdown img {
	@apply rounded-lg;
}

.markdown blockquote {
	@apply border-l-4 border-slate-300 italic pl-4;
}

.markdown hr {
	@apply my-8 border-solid border border-slate-300 dark:border-slate-700;
}

.markdown table {
	@apply border-collapse my-6 w-full;
}

.markdown table th,
.markdown table td {
	@apply bg-slate-50 border border-slate-300 border-solid px-4 py-2 dark:bg-slate-950 dark:border-slate-700;
}

.markdown table th {
	@apply font-bold;
}
