.markdown {
	@apply leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
	@apply my-6 lg:text-lg;
}

.markdown h2 {
	@apply font-heading text-xl mt-10 -mb-2 leading-snug;
}

.markdown h3 {
	@apply font-heading text-lg mt-10 -mb-2 leading-snug;
}

.markdown a {
	@apply transition-colors text-indigo-600 dark:text-indigo-500 hover:text-black dark:hover:text-white;
}

.markdown em {
	@apply italic;
}

.markdown img {
	@apply rounded-xl md:-mx-6 md:max-w-[calc(100%_+_1.5rem)];
}

.markdown blockquote {
	@apply border-l-4 border-black italic pl-4 dark:border-white;
}

.markdown hr {
	@apply my-8 border-solid border border-white dark:border-black;
}

.markdown table {
	@apply border-collapse my-6 w-full;
}

.markdown table th,
.markdown table td {
	@apply border border-black border-solid px-4 py-2 dark:border-white;
}

.markdown table th {
	@apply font-bold;
}